<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Định nghĩa servlet -->
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>kiet.dev.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutServlet</servlet-name>
        <servlet-class>kiet.dev.BlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>kiet.dev.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>kiet.dev.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>kiet.dev.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>kiet.dev.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>kiet.dev.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>kiet.dev.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>kiet.dev.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>kiet.dev.ShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>kiet.dev.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>kiet.dev.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>kiet.dev.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayServlet</servlet-name>
        <servlet-class>kiet.dev.PayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaseAdminServlet</servlet-name>
        <servlet-class>kiet.dev.admin.BaseAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>kiet.dev.admin.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexUserServlet</servlet-name>
        <servlet-class>kiet.dev.admin.user.IndexUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SigBlogServlet</servlet-name>
        <servlet-class>kiet.dev.SigBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <servlet-class>kiet.dev.GoogleLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacebookLoginServlet</servlet-name>
        <servlet-class>kiet.dev.FacebookLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductServlet</servlet-name>
        <servlet-class>kiet.dev.admin.product.CreateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleAccount</servlet-name>
        <servlet-class>kiet.dev.util.GoogleAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Oauth2</servlet-name>
        <servlet-class>kiet.dev.util.Oauth2</servlet-class>
    </servlet>
    <!-- Mapping cho các servlet -->
    <servlet>
        <servlet-name>SuccesServlet</servlet-name>
        <servlet-class>kiet.dev.SuccesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutServlet</servlet-name>
        <url-pattern>/AboutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/ContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/CategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/ShopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayServlet</servlet-name>
        <url-pattern>/PayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaseAdminServlet</servlet-name>
        <url-pattern>/BaseAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexUserServlet</servlet-name>
        <url-pattern>/IndexUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SigBlogServlet</servlet-name>
        <url-pattern>/SigBlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <url-pattern>/GoogleLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacebookLoginServlet</servlet-name>
        <url-pattern>/FacebookLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductServlet</servlet-name>
        <url-pattern>/CreateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleAccount</servlet-name>
        <url-pattern>/GoogleAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Oauth2</servlet-name>
        <url-pattern>/Oauth2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuccesServlet</servlet-name>
        <url-pattern>/SuccesServlet</url-pattern>
    </servlet-mapping>
</web-app>
